{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .card-img-overlay {
    
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: rgba(0, 0, 0, 0.8);
  }
  .card{
    transform: scale(1);
    transition:  ease-in-out 0.5s;
    z-index: 1
}


.card:hover .card-img-overlay {
    
    opacity: 1;
    transition:  ease-in-out 0.5s;
    
  }
.card-img-overlay:hover{
    z-index: 2;
    transition:  ease-in-out 0.5s;
}
    </style>
{% endblock css %}
    
{% block main %}
    <div class="container-fluid mt-5 mb-auto">

        <div class="row justify-content-center mt-2">
            
            {% if request.user.user_profile.profiles.count <= 3 %}
            <div class="col-2 text-center mb-3 mt-3">
                <button class="btn bg-white" data-bs-toggle="modal" data-bs-target="#profileAdd">New Profile</button>
            </div>
            {% endif %}
                
            
           
            <h1 class="text-white text-center mb-3">Manage Profiles:</h1>
            <div class="col-8">
                <div class="row">
                    {% for obj in request.user.user_profile.profiles.all  %}
            <div class="col-lg-3 col-md-12">
                <div class="card" >
                    <!-- testando avatars para profiles -->
                    
                    {% if obj.user_avatar == 'avatar1' %}
                    <img src="{%static 'img/avatar1.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar2' %}
                    <img src="{%static 'img/avatar2.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar3' %}
                    <img src="{%static 'img/avatar3.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar4' %}
                    <img src="{%static 'img/avatar4.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar5' %}
                    <img src="{%static 'img/avatar5.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar6' %}
                    <img src="{%static 'img/avatar6.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar7' %}
                    <img src="{%static 'img/avatar7.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar8' %}
                    <img src="{%static 'img/avatar8.png'%}" class="card-img-top" height="150" alt="...">
                    {% elif obj.user_avatar == 'avatar9' %}
                    <img src="{%static 'img/avatar9.png'%}" class="card-img-top" height="150" alt="...">
                    {% endif %}
                        
                    
                    <a href="{% url 'profiles:edit' obj.id %}" class="text-decoration-none">
                        <div class="card-img-overlay">
                          
                            <p class="card-text text-white text-center  mt-5 mb-auto"><i class="fas fa-pen-alt"></i></p>
                            <p class="card-text text-white text-center  mb-auto">Edit</p>
                            
                        </div>
                    </a>
                  </div>
                  <p class="text-white text-center mt-2 fs-5">{{obj.user_name|title}}</p>
            </div>
            
            {% endfor %}
                </div>
            
            </div>
        </div>
   
    </div>

    {% include 'profile_add.html' %}
{% endblock main %}

