{% extends 'base.html' %}


{% block css %}
    <style>
        .card-img-overlay {
    
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: rgba(0, 0, 0, 0.8);
  }
  .card{
    transform: scale(1);
    transition:  ease-in-out 0.5s;
    z-index: 1
}


.card:hover .card-img-overlay {
    
    opacity: 1;
    transition:  ease-in-out 0.5s;
    
  }
.card-img-overlay:hover{
    z-index: 2;
    transition:  ease-in-out 0.5s;
}
    </style>
{% endblock css %}
    
{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mt-5">
                    <div class="card-body">                        
                        <form action="{% url 'user_profile:profile_update' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="user" id="id_user" hidden value="{{request.user.id}}">
                            <div class="row mt-1">
                                <div class="col-12">
                                    <label for="">Language Selection</label>
                                    <select name="user_language" id="id_user_language" class="form-control">
                                        {% if user.user_language == '?language=en-US' %}
                                        <option value="?language=en-US" selected>English</option>
                                        <option value="?language=pt-BR">Portugues</option>
                                        {% else %}
                                        <option value="?language=en-US" >English</option>
                                        <option value="?language=pt-BR" selected>Portugues</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-3">
                                    <div class="form-control">
                                        <button class="btn btn-success" type="submit
                                        ">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row justify-content-center mt-2">
            <div class="col-2 text-center mb-3 mt-3">
                <button class="btn bg-white" data-bs-toggle="modal" data-bs-target="#profileAdd">
                    New Profile</button>
            </div>
           
            <h3 class="text-white text-center mb-3">Manage Profiles:</h3>
            <div class="col-8">
                <div class="row">
                    {% for obj in request.user.user_profile.profiles.all  %}
            <div class="col-lg-3 col-md-12">
                <div class="card" style="width: 15rem;background-color:pink">
                    <!-- testando avatars para profiles -->
                    <img src="https://cdn0.iconfinder.com/data/icons/child-1-1/70/baby-child-girl-512.png" class="card-img-top" height="150" alt="...">
                    <a href="" class="text-decoration-none">
                        <div class="card-img-overlay">
                          
                            <p class="card-text text-white text-center  mt-5 mb-auto"><i class="fas fa-pen-alt"></i></p>
                            <p class="card-text text-white text-center  mb-auto">Edit</p>
                            
                            
                        </div>
                    </a>
                        
                      
                    
                  </div>
                  <p class="text-white text-center">{{obj.user_name|title}}</p>
            </div>
            
            {% endfor %}
                </div>
            
            </div>
        </div>
       
        
        
    </div>

    
   
        
    {% include 'profile_add.html' %}
{% endblock main %}

