{% extends 'base.html' %}
{% load static %}
{% block title %}Library{% endblock title %}
{% block css %}
<link href="{%static 'lightbox/lightbox.css'%}" rel="stylesheet">

<style>
    img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.card-image {
  position: relative;
}
.card-img-overlay {
    
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: rgba(0, 0, 0, 0.8);
  }
.card{
    transform: scale(1);
    transition:  ease-in-out 0.5s;
    z-index: 1
}

.card:hover{
    transform: scale(1.1);
    z-index:2;
    transition:  ease-in-out 0.5s;
  }
.card:hover .card-img-overlay {
    
    opacity: 1;
    transition:  ease-in-out 0.5s;
    
  }
.card-img-overlay:hover{
    z-index: 2;
    transition:  ease-in-out 0.5s;
}

</style>
{% endblock css %}
{% block main %}

<div class="container-fluid">
  {% include 'includes/_messages.html' %}
</div>
<h1></h1>

<div class="container ">
    <div class="col-xl-12 col ">
        <div class="row mt-3 ">
            {% for movie in movies %}
            <div class="d-flex justify-content-center col-xl-3 col-sm-6 mt-2 align-items-center">
                <div class="card" style="width: 18rem;border: none;">
                    <img src="{{movie.cover}}" style="max-width:238; max-height:350"class="card-img-top" alt="...">
                        <div class="card-img-overlay align-middle text-wrap text-center" >
                            <h5 class="text-light"> <strong>{{movie.title}}</strong> </h5>
                            <p class="text-light" >{{movie.summary|slice:"0:350"}}</p>
                            <div class="row align-text-bottom">
                                <div class="col-6">
                                    <a href="{% url 'movies:detail' movie.id %}" style="border:2px white solid; border-radius:1px" class="text-center btn text-decoration-none text-white p-4"> Go to Movie<span style="font-size:20px"><i  class="large material-icons text-danger" aria-hidden="true">play_circle_outline</i></span>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="https://www.youtube.com/watch?v={{movie.trailer}}" data-lightbox style="border:2px white solid; border-radius:1px"  class="text-center btn text-decoration-none text-white p-4">Watch trailer <span><i class="large material-icons text-danger" aria-hidden="true">play_circle_filled</i></span>
                                    </a>
                                </div>
                            </div>
                      </div>
                    <div class="card-body text-center bg-dark text-white">
                      <h5 class="card-title" style="font-size:1em">{{movie.title}}</h5>
                      <p style="font-size: 0.8em;" class="text-muted text-truncate">{{movie.genre}}</p>
                    </div>
                  </div>
            </div>
            {% endfor %}
            
            
        </div>
    </div>
    
</div>

<div class="container mt-3">
  <div class="flex-row">
    <div class="d-flex justify-content-center">
      {%include 'includes/_pagination.html'%}
    </div>
  </div>   
</div>
{% endblock main %}


{% block js %}

{% endblock js %}
  

    
